{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    table tr td:hover {
    cursor: pointer;
  }
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the search bar */
.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Styles for buttons */
.button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-primary {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}
.button-secondary {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}
.button-warning {
    background-color: #ffc107;
    color: #000;
    margin-right: 10px;
}
  </style>
  <body>
    
    
    <div class="body-wrapper">
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page">invoices</li>
          </ol>
        </nav>
        
        <h1>ALL INVOICES</h1>
<div class="header">
    <div>
        <input type="text" class="search-bar" placeholder="Search...">
        <button type="button" class="btn btn-outline-warning">*</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-warning">import</button>
        <button type="button" class="btn btn-outline-warning">export</button>
        <button type="button" class="btn btn-outline-warning">sort</button>
        <button type="button" class="btn btn-outline-warning">filter</button>

    </div>
</div>
        <div style="overflow-x:auto;"> 
          <div class="table-responsive">
            <table class="table mt-lg-5 mt-2 rounded" style="background-color: rgb(0, 0, 0);color: white;">
              <thead>
                <tr class="border-bottom border-dark">
                  <th scope="col" ><b>Sl no</b></th>
                  <th scope="col" ><b>Date</b></th>
                  <th scope="col" ><b>Invoice number</b></th>
                  <th scope="col" ><b>Customer name</b></th>
                  <th scope="col" ><b>Customer Mail ID</b></th>
                  <th scope="col" ><b>Amount</b></th>
                  <th scope="col" ><b>status</b></th>
                  <th scope="col" ><b>balence</b></th>

    
                </tr>
              </thead>
              <tbody>
                <tr class="border-bottom border-dark">
                  <td></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  <td>
                    
                  </td>
                </tr>
              </tbody>
            </table> 
    
          </div> 
        </div>
  
      </div>
    </div>
  </body>
  
  {% endblock %}